<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c7997ce2-c9d9-4add-b3d5-ab37d0a71861/resourceGroups/learn-f64940b9-0190-4bda-a18f-af14c4ca7c11/providers/Microsoft.Web/sites/online-qr-menu-app</ResourceId>
    <ResourceGroup>learn-f64940b9-0190-4bda-a18f-af14c4ca7c11</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://online-qr-menu-app-b6hse6b4dudcg2bf.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8a78029e-91d1-46a4-9ff6-22c25b0ade23</ProjectGuid>
    <MSDeployServiceURL>online-qr-menu-app-b6hse6b4dudcg2bf.scm.southeastasia-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>online-qr-menu-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>